body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: black;
  background-image: url('logo.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container {
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;


}

button {
  padding: 10px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
}

.navbar ul li {
  width: 85%;
  margin: auto;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar {
  position: absolute;
  top: -10px;
  right: 1%;
  left: 950px;
  
  
}